{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:node/recommended",
    "prettier"
  ],
  "plugins": ["@typescript-eslint", "prettier"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "rules": {
    "no-process-exit": 0,
    "max-len": ["warn", {
      "code": 100,
      "ignoreComments": true,
      "ignoreStrings": true,
      "ignoreTemplateLiterals": true
    }],
    "semi": ["error", "always"],
    "quotes": ["error", "double"],
    "func-names": 2,
    "prefer-const": "error",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-explicit-any": 1,
    "node/no-unsupported-features/es-syntax": "off",
    "node/no-unsupported-features/es-builtins": "error",
    "node/no-missing-import": [
      "error",
      {
        "allowModules": [],
        "tryExtensions": [".js", ".ts"]
      }
    ],
    "node/no-unpublished-import": ["error", { "allowModules": ["@space48/terraformer"] }],
    "prettier/prettier": "error",
    "@typescript-eslint/no-inferrable-types": [
      "warn",
      {
        "ignoreParameters": true
      }
    ],
    "@typescript-eslint/no-unused-vars": "warn",
    "@typescript-eslint/no-floating-promises": "error"
  },
  "overrides": [
    {
      "files": ["*.test.js","*.spec.js","*.test.ts","*.spec.ts"],
      "rules": {
        "node/no-unpublished-import": "off"
      }
    }
  ]
}
